<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.AndroidRSSReader" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="8" 
          android:targetSdkVersion="14" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".Splash" android:label="@string/app_name"  android:screenOrientation="portrait" android:theme="@android:style/Theme.Light"
		    >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".RssItemDisplayer" android:label="Display Rss Item"  android:screenOrientation="portrait" android:theme="@android:style/Theme.Light"
		    >
			<intent-filter>
				<action android:name="com.AndroidRSSReader.displayRssItem" />
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		
		<activity android:name=".AndroidRSSReader" android:label="@string/app_name"  android:screenOrientation="portrait" android:theme="@android:style/Theme.Light"></activity>
		<activity android:name=".AndroidRSSTab1" android:theme="@android:style/Theme.Light"  android:screenOrientation="portrait"></activity>
		<activity android:name=".AndroidRSSTab2" android:theme="@android:style/Theme.Light"  android:screenOrientation="portrait"></activity>
		<activity android:name=".TopicDisplayer" android:theme="@android:style/Theme.Light"  android:screenOrientation="portrait"></activity>
		<activity android:name=".AndroidRSSTab3" android:theme="@android:style/Theme.Light"  android:screenOrientation="portrait"></activity>
		<activity android:name=".AndroidRSSTab4" android:theme="@android:style/Theme.Light"  android:screenOrientation="portrait"></activity>
		<activity android:name=".TT_tabs" android:theme="@android:style/Theme.Light"  android:screenOrientation="portrait"></activity>
		<activity android:name=".TTList" android:theme="@android:style/Theme.Light"  android:screenOrientation="portrait"></activity>
		<activity android:name=".WebShower" android:theme="@android:style/Theme.Light"  android:screenOrientation="portrait"></activity>
		<activity android:name=".AgendaActivity" android:theme="@android:style/Theme.Light"  android:screenOrientation="portrait"></activity>
		<activity android:name=".AgendaTab" android:theme="@android:style/Theme.Light"  android:screenOrientation="portrait"></activity>
		<activity android:name=".HallViewActivity" android:theme="@android:style/Theme.Light"  android:screenOrientation="portrait"></activity>
		<activity android:name=".AgendaBarActivity" android:theme="@android:style/Theme.Light"  android:screenOrientation="portrait"></activity>
	</application>

	

</manifest> 